/* Reset style */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Reset style */

body {
    max-width: 1980px;
    margin:0;
    height:100%;
}

/* Navigation */

.main_h {
    position: fixed;
    top: 0px;
    max-height: 70px;
    z-index: 999;
    width: 100%;
    padding-top: 17px;
    /* background-color: rgba(255, 255, 255, 0.80); */
    overflow: hidden;
    background: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: -100px; 
    padding-bottom: 6px;
    font-family: "Montserrat", sans-serif;
  }

  @media only screen and (max-width: 766px) {
    .main_h {
      padding-top: 25px;
    }
  }
  
  .open-nav {
    max-height: 400px !important;
  }
  .open-nav .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
  
  .sticky {
    background-color: rgba(255, 255, 255, 0.80);
    opacity: 1;
    top: 0px;
    border-bottom: 1px solid gainsboro;
  }
  
  .logo {
    width: 50px;
    font-size: 25px;
    color: #8f8f8f;
    text-transform: uppercase;
    float: left;
    display: block;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 10px;
  }

  .logo img {
    width: 80%;
  }

  @media only screen and (max-width: 766px) {
    .logo {
      float: none;
    }
  }
  
  nav {
    float: right;
    width: 60%;
  }

  @media only screen and (max-width: 766px) {
    nav {
      width: 100%;
    }
  }
  nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
  }
  @media only screen and (max-width: 766px) {
    nav ul {
      padding-top: 10px;
      margin-bottom: 22px;
      float: left;
      text-align: center;
      width: 100%;
    }
  }

  nav ul li {
    display: inline-block;
    margin-left: 35px;
    line-height: 1.5;
  }

  @media only screen and (max-width: 766px) {
    nav ul li {
      width: 100%;
      padding: 7px 0;
      margin: 0;
    }
  }

  nav ul a {
    color: #000000;
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }

  @media only screen and (max-width: 766px) {
    .mobile-toggle {
      display: block;
    }
  }
  .mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #8f8f8f;
    display: block;
  }
  
  .row {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    padding: 0 2%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    color: #8f8f8f;
    background: white;
    font-family: "Cardo", serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }
  
  a {
    text-decoration: none;
  }
  
  /* 
  h1 {
    font-size: 30px;
    line-height: 1.8;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
  } 
  */
  
  /* 
  p {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 2;
  } 
  */
  
  .content {
    padding: 50px 2% 250px;
  }
  
  .hero {
    position: relative;
    background: url(http://www.philippefercha.com/cd/toggle-menu-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 110px;
    min-height: 500px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
  }
  .hero h1 {
    font-size: 50px;
    line-height: 1.3;
  }
  .hero h1 span {
    font-size: 25px;
    color: #e8f380;
    border-bottom: 2px solid #e8f380;
    padding-bottom: 12px;
    line-height: 3;
  }
  
  .mouse {
    display: block;
    margin: 0 auto;
    width: 26px;
    height: 46px;
    border-radius: 13px;
    border: 2px solid #e8f380;
    position: absolute;
    bottom: 40px;
    position: absolute;
    left: 50%;
    margin-left: -26px;
  }
  .mouse span {
    display: block;
    margin: 6px auto;
    width: 2px;
    height: 2px;
    border-radius: 4px;
    background: #e8f380;
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
  }
  
  @-webkit-keyframes scroll {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
  }
  @keyframes scroll {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }
  }
  

/* Navigation End */

.slider {
    width: 100%;
    height: auto;
}

.winterImg {
    width: 100%;
    height: auto;
}

#canvas{
    width: 100%;
    position:absolute;
    top:0;
    left:0;
}

.sentensText {
    width: 100%;
    font-size: 5em;
    text-align-last: center;
    position: absolute;
    color: #fff;
    margin-top: 14%;
}

.sentens {
    display: none;
} 

/*
.santa {
    text-transform: uppercase;
    background: linear-gradient(to left, #c2c2c2 40%, #c50d00 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
*/
.sentens:first-child {
    display: block;
}

.seeMore {
    position: absolute;
    margin-top: 37%;
    margin-left: 50%;
}
.fas {
    position: absolute;
    color: #ffffff;
    font-size: 4em;
    z-index: 2;
}

/* Gifts */

.gifts {
    width: 100%;
    height: 60vh;
    background: #ffffff;
    color: #1f1e1e;
    margin-bottom: 20%;
}

.gifts h2 {
    text-transform: uppercase;
    font-size: 4em;
    text-align: center;
    margin-top: -1%;
    padding: 2%;
} 


.paralax {
    background: url("../images/bgsnow.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;

}

.paralax.place {
  margin-top: -2.3%;
}

.christmasBoxA, .christmasBoxB, .christmasBoxC {
    float: left;
    width: 31%;
    padding: 2% 0;
    margin: 6% 0;
    text-align: center;
    transition: transform .2s;
}

.christmasBoxA img, .christmasBoxB img, .christmasBoxC img {
    width: 80%;
}

.santaPeople {
    width: 100%;
    height: 60vh;
    background: #ffffff;
    color: #1f1e1e;
}

.santaPeople h2 {
    text-transform: uppercase;
    font-size: 4em;
    text-align: center;
    margin-top: 3%;
    padding: 2%;
}

/* Shake text effect start */

.shake:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*zoom hover big image gift */

  
.christmasBoxA:hover, .christmasBoxB:hover, .christmasBoxC:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
}
.reindeer {
    width: 100%;
    height: auto;
}

.reindeer img {
    width: 99.9%;
}

.namesCh {
    width: 100%;
    position: absolute;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 4em;
    margin-top: -23%;
    
}
.namesCh p {
    float: left;
    margin: 0 6%;
}

.chart {
    margin-top: 2%;
}
#chartContainer {
  margin-top: 5%;
  margin-bottom: 5%;
}
/* 
@media screen and (max-width: 1154px) {
    .namesCh {
        font-size: 1.5em;
    }
    .christmasBoxA, {
        float: none;
    }
    .christmasBoxB, .christmasBoxC {
        display: none;
    }
  } 
  */

